/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.container{
    min-height: 100vh;
    min-width: 100vw;
    background: url(../img/abstract-background.jpg);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content{
      margin-left: 58px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top{
      display: flex;
    flex-direction: column;
    gap: 5px;
}

h5{
  color: #4338ca;
  font-weight: 600 !important;
}

h1{
    font-size: 48px !important;
    font-weight: 600 !important;
}

p{
  color:#525252;
  font-size: 20px;
}

.back-to-home{
  background: #4338ca;
  color: white;
  padding: 10px;
  border: 1px solid #4338ca;
  font-weight: 500;
  border-radius: 4px;
}
