/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
    padding: 120px 0px;
}

.profile-card{
    background-color: #ffffff;
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 340px;
    /* gap: 40px; */
    padding: 24px 16px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 0.06), 0px 1px 3px 0 rgb(0 0 0 / 0.1);
}

.card-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header h2{
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #171717;
}

.card-header p{
    font-size: 14px;
    color: #525252;
}

.content{
  text-align: center;
  font-size: 16px;
  color: #525252;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: stretch;
}

footer button{
    cursor: pointer;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    background-color: #4338ca;
    padding: 10px 16px;  
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}


.social-media{
  display: flex;
  justify-content: center;
  align-self: stretch;
  gap: 16px;
  color: #4338ca;
}

.social-media a{
  padding: 0 16px;
}