/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.container{
  display: flex;
    align-items: center;
    justify-content: center;
     background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
    min-height: 100vh;
}

.card{
 display: flex;
    flex-direction: column;
    width: 340px;
    background-color: white;
    /* padding: 10px; */
    border-radius: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.top{
  height: 200px;
}

img{
    height: 100% !important;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottom{
  padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom label{
    width: 80px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    background-color: #F0FDF4;
    color: #15803d;
    font-size: 14px;
}

.bottom h4{
  font-weight: 400;
  font-size: 20px;
}

p{
    font-size: 17px;
    color: gray
}
footer{
      display: flex;
    justify-content: start;
    align-items: center;

}

footer a{
  display: inline-flex;
    align-items: center;
    align-content: center;
    color: blue;
    text-align: center;
    gap: 5px;
    cursor: pointer;
    white-space: nowrap;
}


